@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@tailwind utilities;

@config "../tailwind.config.js";
@layer base {
:root {
  --background: 44.00 42.86% 93.14%;
  --foreground: 28.57 16.54% 24.90%;
  --card: 42.00 100.00% 98.04%;
  --card-foreground: 28.57 16.54% 24.90%;
  --popover: 42.00 100.00% 98.04%;
  --popover-foreground: 28.57 16.54% 24.90%;
  --primary: 30.00 33.87% 48.63%;
  --primary-foreground: 0 0% 100%;
  --secondary: 40.65 34.83% 82.55%;
  --secondary-foreground: 28.97 18.71% 30.39%;
  --muted: 39 34.48% 88.63%;
  --muted-foreground: 32.31 18.48% 41.37%;
  --accent: 42.86 32.81% 74.90%;
  --accent-foreground: 28.57 16.54% 24.90%;
  --destructive: 9.84 54.70% 45.88%;
  --destructive-foreground: 0 0% 100%;
  --border: 40.00 31.43% 79.41%;
  --input: 40.00 31.43% 79.41%;
  --ring: 30.00 33.87% 48.63%;
  --chart-1: 30.00 33.87% 48.63%;
  --chart-2: 31.38 29.95% 42.55%;
  --chart-3: 33.68 32.95% 33.92%;
  --chart-4: 29.12 30.91% 56.86%;
  --chart-5: 30 33.68% 62.75%;
  --sidebar: 39 34.48% 88.63%;
  --sidebar-foreground: 28.57 16.54% 24.90%;
  --sidebar-primary: 30.00 33.87% 48.63%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 42.86 32.81% 74.90%;
  --sidebar-accent-foreground: 28.57 16.54% 24.90%;
  --sidebar-border: 40.00 31.43% 79.41%;
  --sidebar-ring: 30.00 33.87% 48.63%;
  --radius: 0.975rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: 222.22 47.37% 11.18%;
  --foreground: 216.00 12.20% 83.92%;
  --card: 217.24 32.58% 17.45%;
  --card-foreground: 216.00 12.20% 83.92%;
  --popover: 217.24 32.58% 17.45%;
  --popover-foreground: 216.00 12.20% 83.92%;
  --primary: 158.11 64.37% 51.57%;
  --primary-foreground: 222.22 47.37% 11.18%;
  --secondary: 217.78 23.08% 22.94%;
  --secondary-foreground: 240 5.03% 64.90%;
  --muted: 217.24 32.58% 17.45%;
  --muted-foreground: 220 8.94% 46.08%;
  --accent: 216.92 19.12% 26.67%;
  --accent-foreground: 240 5.03% 64.90%;
  --destructive: 0 84.24% 60.20%;
  --destructive-foreground: 222.22 47.37% 11.18%;
  --border: 215 13.79% 34.12%;
  --input: 215 13.79% 34.12%;
  --ring: 158.11 64.37% 51.57%;
  --chart-1: 158.11 64.37% 51.57%;
  --chart-2: 172.46 66.01% 50.39%;
  --chart-3: 142.09 70.56% 45.29%;
  --chart-4: 160.12 84.08% 39.41%;
  --chart-5: 161.38 93.55% 30.39%;
  --sidebar: 217.24 32.58% 17.45%;
  --sidebar-foreground: 216.00 12.20% 83.92%;
  --sidebar-primary: 158.11 64.37% 51.57%;
  --sidebar-primary-foreground: 222.22 47.37% 11.18%;
  --sidebar-accent: 216.92 19.12% 26.67%;
  --sidebar-accent-foreground: 240 5.03% 64.90%;
  --sidebar-border: 215 13.79% 34.12%;
  --sidebar-ring: 158.11 64.37% 51.57%;
  --radius: 0.975rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    height: fit-content;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}
